<section class="products">
  <h2 class="visually-hidden">Продукция</h2>
<div class="products__content container">
  <ul class="products__list-products">
    <li class="products__item-product">
      <article class="products__card-product">
        <div class="products__wrapper-image">
          <img ngSrc="./assets/images/raster/products-jow.jpg" width="400" height="400" alt="Кольцо jow’s, Cartier" loading="lazy">
        </div>
        <div class="products__wrapper-info">
          <h3 class="products__title-card">Кольцо jow’s, Cartier</h3>
          <small class="products__subtitle-card">Белое золото, бриллианты</small>
          <data class="products__price" value="674000">674 000 ₽</data>
        </div>
      </article>
    </li>

    <li class="products__item-product products__item-product--center">
      <article class="products__card-product products__card-product--center">
        <div class="products__wrapper-image">
          <img ngSrc="./assets/images/raster/products-etoile.jpg" width="600" height="820" alt="Колье etoile, hublot" priority>
        </div>
        <div class="products__wrapper-info">
          <h3 class="products__title-card">Колье etoile, hublot</h3>
          <small class="products__subtitle-card">Белое золото, бриллианты</small>
          <data class="products__price" value="539000">539 000 ₽</data>
        </div>
      </article>
    </li>

    <li class="products__item-product">
      <article class="products__card-product">
        <div class="products__wrapper-image">
          <img ngSrc="./assets/images/raster/products-moon.jpg" width="400" height="400" alt="Серьги moon, hublot" loading="lazy">
        </div>
        <div class="products__wrapper-info">
          <h3 class="products__title-card">Серьги moon, hublot</h3>
          <small class="products__subtitle-card">Желтое золото, сапфир</small>
          <data class="products__price" value="498000">498 000 ₽</data>
        </div>
      </article>
    </li>

    <li class="products__item-product">
      <article class="products__card-product">
        <div class="products__wrapper-image">
          <img ngSrc="./assets/images/raster/products-cartier.jpg" width="400" height="400" alt="Кольцо croix, Cartier" loading="lazy">
        </div>
        <div class="products__wrapper-info">
          <h3 class="products__title-card">Кольцо croix, Cartier</h3>
          <small class="products__subtitle-card">Желтое, белое, розовое золото</small>
          <data class="products__price" value="432000">432 000 ₽</data>
        </div>
      </article>
    </li>
    <li class="products__item-product">
      <article class="products__card-product">
        <div class="products__wrapper-image">
          <img ngSrc="./assets/images/raster/products-win.jpg" width="400" height="400" alt="Cерьги win, blancpain" loading="lazy">
        </div>
        <div class="products__wrapper-info">
          <h3 class="products__title-card">Cерьги win, blancpain</h3>
          <small class="products__subtitle-card">Желтое золото, жемчуг</small>
          <data class="products__price" value="398000">398 000 ₽</data>
        </div>
      </article>
    </li>

  </ul>
</div>
</section>
