<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./assets/images/raster/social-slide-4.jpg"  loading="lazy" alt="">
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/raster/social-slide-2.jpg" loading="lazy" alt="">
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/raster/social-slide-3.jpg"  loading="lazy" alt="">
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/raster/social-slide-1.jpg"  loading="lazy" alt="">
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/raster/social-slide-5.jpg"  loading="lazy" alt="">
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
