<section class="footer-main">
  <div class="footer-main__content container">
    <nav class="footer-main__nav">
      <ul class="footer-main__list-nav">
        <li class="footer-main__item-nav-link">
          <a href="#" class="link-nav footer-main__link-nav">
            Работа в компании
          </a>
        </li>
        <li class="footer-main__item-nav-link">
          <a href="#" class="link-nav footer-main__link-nav">
            Условия пользования
          </a>
        </li>
        <li class="footer-main__item-nav-link">
          <a href="#" class="link-nav footer-main__link-nav">
            Выходные данные
          </a>
        </li>
        <li class="footer-main__item-nav-link">
          <a href="#" class="link-nav footer-main__link-nav">
            Политика конфиденциальности
          </a>
        </li>
        <li class="footer-main__item-nav-link">
          <a href="#" class="link-nav footer-main__link-nav">
            Карта сайта
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
