<section class="contacts" aria-labelledby="contacts-title">
  <h2 id="contacts-title" class="contacts__title-main visually-hidden">Контакты и подписка</h2>
  <div class="contacts__content container">
    <div class="contacts__wrapper-image">
      <img ngSrc="./assets/images/raster/contacts-women.jpg" width="710" height="640" alt="" loading="lazy">
    </div>
    <div class="contacts__wrapper-info">
      <div class="contacts__phone">
        <h3 class="contacts__title-info">Телефон флагманского магазина</h3>
        <a class="link-phone" href="tel:+7800456456">+7 800 456 456</a>
      </div>
      <div class="contacts__subscribe">
        <h3 class="contacts__title-info">Подпишитесь на новости</h3>
        <form class="contacts__form-subscribe">
          <label for="contacts-subscribe" class="store-selector__label-address visually-hidden">Введите адрес</label>
          <div class="contacts__wrapper-subscribe">
            <input id="contacts-subscribe" class="contacts__input-subscribe" type="email" placeholder="Введите E-mail"/>
            <button class="contacts__button-subscribe" type="submit" aria-label="Подписаться"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
