@use '../variables' as variables;

@mixin navigation-overlay-link-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
}

@mixin footer-title-text {
  color: variables.$color-white-500;
  font-family: variables.$font-family-futura;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
}

@mixin footer-contact-text {
  color: variables.$footer-contact-text;
  font-family: variables.$font-family-futura;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}

@mixin input($line-color, $text-color) {
  padding: 9px 15px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1.8px solid $line-color;
  transition: border-color 0.5s ease;
  color: variables.$text-light;
  font-family: variables.$font-family-futura;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;

  &:hover {
    border-color: variables.$store-selector-address-border-hover;
  }

  &:focus {
    outline: none;
    border-color: variables.$store-selector-address-border-focus;
  }

  &::placeholder {
    color: $text-color;
  }
}

@mixin button-submit($button-color) {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 28px;
    height: 15px;
    background-color: $button-color;
    mask-image: url("../../assets/images/vector/navigation-overlay-arrow-small.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    transition: background-color 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    &::before {
      background-color: variables.$button-hover;
      transform: translateX(10px);
    }
  }

  &:active {
    &::before {
      background-color: variables.$button-action;
    }
  }
}
