<section class="categories" aria-labelledby="category-main-title">
  <h2 id="category-main-title" class="category__title-main visually-hidden">Выбрать раздел</h2>
<div class="categories__content container">
  <ul class="categories__list-categories">
    <li class="categories__item-category">
      <article class="categories__card-category">
        <div class="categories__wrapper-card">
          <a href="#" class="categories__link categories__link--to-section">Перейти в раздел</a>
          <h3 class="categories__title-card-category">Для мужчин</h3>
        </div>
        <picture class="categories__wrapper-image">
          <source srcset="./assets/images/raster/for-him.webp" type="image/webp">
          <img src="./assets/images/raster/for-him.jpg" width="710" height="587" alt="">
        </picture>
      </article>
    </li>
    <li class="categories__item-category">
      <article class="categories__card-category">
        <div class="categories__wrapper-card">
          <a href="#" class="categories__link categories__link--to-section">Перейти в раздел</a>
          <h3 class="categories__title-card-category">Для женщин</h3>
        </div>
        <picture class="categories__wrapper-image">
          <source srcset="./assets/images/raster/for-her.webp" type="image/webp">
          <img src="./assets/images/raster/for-her.jpg" width="710" height="587" alt="">
        </picture>
      </article>
    </li>
  </ul>
</div>
</section>
