// ===== COLOR =====

/* BASE */
$color-orange-300: rgb(239 197 139);
$color-orange-500: rgb(237 155 55);
$color-white-500: rgb(255 255 255);
$color-black-500: rgb(0 0 0);
$color-grey-100: rgb(194 194 194);
$color-grey-600: rgb(47 47 47);
$color-grey-700: rgb(39 39 39);

/* INTERACTIVE */
$color-interactive-hover: $color-orange-300;
$color-interactive-active: $color-orange-500;

/* Фон */
$hero-gradient-start: $color-white-500;
$hero-gradient-end: $color-grey-700;
$hero-background: $color-grey-700;
$navigation-overlay-background: $color-grey-700;
$navigation-background: $color-grey-600;

/* Компоненты */
$button-main: $color-white-500;
$button-contrast-on-white: $color-black-500;
$button-content-shadow: $color-black-500;
$button-hover: $color-interactive-hover;
$button-action: $color-interactive-active;
$link-hover: $color-interactive-hover;
$link-action: $color-interactive-active;
$link-all-brands: $color-orange-300;
$link-active: $color-orange-300;
$categories-border-line: $color-grey-600;
$navigation-overlay-arrow: $color-orange-300;
$footer-contact-text: $color-grey-100;
$footer-email-border: $color-white-500;
$footer-email-border-focus: $color-orange-500;
$footer-email-border-hover: $color-orange-300;


// ===== TYPOGRAPHY =====
$font-family-futura: "Futura PT", sans-serif;
$font-family-forum: "Forum", serif;
