// ===== COLOR =====

/* BASE */
$color-orange-300: rgb(239 197 139);
$color-orange-350: rgb(226 182 122);
$color-orange-400: rgb(225 180 120);
$color-orange-500: rgb(237 155 55);
$color-white-500: rgb(255 255 255);
$color-black-500: rgb(0 0 0);
$color-grey-50: rgb(237 237 237);
$color-grey-100: rgb(194 194 194);
$color-grey-200: rgb(196 196 196);
$color-grey-500: rgb(117 117 117);
$color-grey-550: rgb(101 101 101);
$color-grey-600: rgb(47 47 47);
$color-grey-700: rgb(39 39 39);

/* OVERLAY */

$overlay: rgb(0 0 0 / 40%);

/* INTERACTIVE */
$color-interactive-hover: $color-orange-300;
$color-interactive-active: $color-orange-500;

/* Фон */
$hero-gradient-start: $color-white-500;
$hero-gradient-end: $color-grey-700;
$hero-background: $color-grey-700;
$navigation-overlay-background: $color-grey-700;
$navigation-background: $color-grey-600;
$section-bg-dark: $color-grey-700;

/* КОМПОНЕНТЫ */

/* button */

$button-main: $color-white-500;
$button-contrast-on-white: $color-black-500;
$button-content-shadow: $color-black-500;
$button-hover: $color-interactive-hover;
$button-action: $color-interactive-active;

/* link */

$link-color-hover-on-light: rgb(156 97 14);
$link-color-active-on-light: rgb(107 66 7);
$link-hover: $color-interactive-hover;
$link-action: $color-interactive-active;
$link-all-brands: $color-orange-300;
$link-active: $color-orange-300;
$link-text-light: $color-white-500;
$link-line-light: $color-white-500;

/* hero */

$hero-link-text: $color-grey-700;
$hero-link-text-light: $color-white-500;
$hero-button-text-active: $color-grey-700;
$hero-button-text: $color-grey-200;
$hero-link-before-bg: $color-grey-700;
$hero-link-before-bg-light: $color-white-500;

/* footer */

$footer-contact-text: $color-grey-100;
$footer-email-border: $color-white-500;
$footer-email-border-focus: $color-orange-500;
$footer-email-border-hover: $color-orange-300;

/* title */

$title-dark: $color-grey-700;
$title-light: $color-white-500;

/* subtitle */

$subtitle-text-dark: $color-grey-500;
$subtitle-text-light: $color-grey-50;

/* price */

$price-text-dark: $color-orange-350;

/* language */

$language-button: $color-orange-300;
$language-button-hover: $color-orange-400;
$language-button-active: $color-orange-500;

/* common */
$categories-border-line: $color-grey-600;
$navigation-overlay-arrow: $color-orange-300;
$subtitle: $color-grey-100;
$data-text: $color-orange-300;

/* store-selector */
$store-selector-address-border: $color-white-500;
$store-selector-address-border-focus: $color-orange-500;
$store-selector-address-border-hover: $color-orange-300;

/* contacts */

$contacts-email-border: $color-grey-700;
$contacts-button-subscribe-bg: $color-grey-700;
$contacts-input-text: $color-grey-700;

/* card-product */

$products-card-bg: $color-grey-50;

/* SWIPER */

$swiper-bullet-bg: $color-grey-550;
$swiper-bullet-active-bg: $color-white-500;
$swiper-button-nav-bg: $color-white-500;

// ===== TYPOGRAPHY =====
$font-family-futura: "Futura PT", sans-serif;
$font-family-forum: "Forum", serif;

/* text */

$text-dark: $color-grey-700;
$text-light: $color-white-500;
