@use '../../../styles/variables' as variables;

.header-main {
&__button {
  &-action {
    background-color: transparent;
    border: none;
    padding: 0;

    svg {
      display: block;
    }
  }
}
}
