@use "../../../styles/variables" as variables;
@use "../../../styles/abstacts/mixins" as mixins;

.header-main {
  svg,
  img {
    display: block;
  }

  &__title {
    &-category {
      color: variables.$color-white-500;
      font-family: variables.$font-family-futura;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0.06em;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &-footer {
      font-family: variables.$font-family-forum;
      font-style: normal;
      font-size: 48px;
      font-weight: 400;
      line-height: 54px;
      letter-spacing: 0.03em;
      text-align: center;
      text-transform: uppercase;
    }

    &-contact, &-subscribe {
      @include mixins.footer-title-text;

      margin-bottom: 15px;
    }
  }

  &__wrapper {
    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 56px;
    }

    &-header {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    &-nav {
      padding: 27px 0;
      background-color: variables.$navigation-background;
      margin-bottom: 70px;
    }

    &-column {
      &-left {
        color: white;
        position: relative;
        display: flex;
        gap: 55px;
        flex-direction: column;
        padding: 30px;
        max-width: 749px;
        width: 100%;
        background-image: url("../../../assets/images/raster/header-main-nav-overlay-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 0;

        &::before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgb(0 0 0 / 40%);
          z-index: -1;
        }

        h2 {
          z-index: 1;
          align-self: center;
        }
      }

      &-right {
        flex-grow: 1;
      }
    }

    &-footer {
      display: flex;
    }
  }

  &__button {
    &-action {
      background-color: transparent;
      border: none;
      padding: 0;
      transition: color 0.5s ease;

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 2px solid black;
        outline-offset: 2px;
      }
    }

    &-burger {
      position: relative;
      width: 30px;
      padding: 0;
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 2px solid black;
        outline-offset: 2px;
      }

      &:hover {
        .header-main__line--top {
          transform: translateY(-2px);
        }

        .header-main__line--bottom {
          transform: translateY(2px);
        }

        span {
          border-color: variables.$button-hover;
        }
      }

      &:active {
        span {
          border-color: variables.$button-action;
        }
      }

      &.nav-open {
        &:hover {
          .header-main__line--top {
            transform: rotate(45deg);
          }

          .header-main__line--bottom {
            transform: rotate(-45deg);
          }
        }
      }

      @media (width <= 1023px) {
        filter: drop-shadow(0 1px 2px variables.$button-content-shadow);
      }

      @media (width <= 784px) {
        filter: none;

        .header-main__line {
          border-color: variables.$button-contrast-on-white;
        }
      }
    }

    &-subscribe {
      background-color: transparent;
      padding: 0;
      border: none;
      cursor: pointer;

      &::after {
        content: "";
        display: block;
        font-size: 300px;
        width: 30px;
        height: 17px;
        background-color: variables.$color-white-500;
        mask-image: url("../../../assets/images/vector/navigation-overlay-arrow-small.svg");
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        transition: background-color 0.5s ease, transform 0.5s ease;
      }

      &:hover {
        &::after {
          background-color: variables.$button-hover;
          transform: translateX(10px);
        }
      }

      &:active {
        &::after {
          background-color: variables.$button-action;
        }
      }

      &:focus {
        outline: 1px solid variables.$color-orange-500;
      }
    }
  }

  &__line {
    border: 1.8px solid variables.$color-white-500;
    transition: transform 1s ease,
    border-color 0.5s ease,
    opacity 5s ease;

    &.nav-open {
      position: absolute;
      width: 30px;
      height: 2px;
      top: 0;
      left: 0;
    }

    &--top {
      transform: rotate(45deg);
    }

    &--middle {
      transition: opacity 0.2s ease;
      opacity: 0;
    }

    &--bottom {
      transform: rotate(-45deg);
    }
  }

  &__list {
    &-actions {
      display: flex;
      gap: 40px;
    }

    &-nav {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
    }

    &-categories {
      display: flex;
      gap: 100px;
      padding-bottom: 60px;
      border-bottom: 2px solid variables.$categories-border-line;
      margin-bottom: 71px;

      @media (width <= 910px) {
        gap: clamp(2.5rem, -3.125rem + 15vw, 6.25rem);
      }
    }

    &-category {
      li:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &-social {
      display: flex;
      gap: 20px;
    }

    &-store {
      display: flex;
      gap: 8px;
    }
  }

  &__navigation {
    &-overlay {
      height: calc(100vh - 153px);
      width: 100%;
      position: absolute;
      top: 153px;
      left: 50%;
      transform: translate(-50%, -150%);
      background-color: variables.$navigation-overlay-background;
      transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &.open {
        transition: transform 0.8s 0.9s ease;
        transform: translate(-50%, 0);
      }

      &-footer {
        display: flex;
        gap: 85px;
      }
    }
  }

  &__link {
    font-family: variables.$font-family-futura;
    color: variables.$color-white-500;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    transition: color 0.5s ease;

    &:hover {
      color: variables.$link-hover;
    }

    &:active {
      color: variables.$link-action;
    }

    &-nav {
      position: relative;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      transition: color 0.5s ease;

      &::after {
        content: "";
        position: absolute;
        bottom: -26px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: variables.$link-active;
        transform: scale(0);
        transition: transform 0.5s ease;
      }

      &.header-main-active::after {
        transform: scale(1);
      }
    }

    &-category, &-mercury-collection {
      @include mixins.navigation-overlay-link-text;
    }

    &--all-brands {
      color: variables.$link-all-brands;
      font-family: "Segoe UI", sans-serif;
      font-style: italic;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      letter-spacing: 0;
      text-align: left;
    }

    &-mercury-collection {
      align-self: flex-end;
      display: flex;
      align-items: center;
      gap: 23px;

      &::after {
        content: "";
        display: block;
        width: 33px;
        height: 19px;
        background-color: variables.$color-white-500;
        mask-image: url("../../../assets/images/vector/navigation-overlay-arrow-big.svg");
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        transition: transform 0.5s ease, background-color 0.5s ease;
      }

      &:hover {
        &::after {
          transform: translateX(10px);
          background-color: variables.$navigation-overlay-arrow;
        }
      }
    }

    &-social {
      display: block;
      color: variables.$color-white-500;
      transition: color 0.5s ease, transform 0.5s ease;

      &:hover {
        color: variables.$link-hover;
        transform: scale(0.9);
      }

      &:active {
        color: variables.$link-action;
      }
    }

    &-phone {
      @include mixins.footer-contact-text;

      display: inline-block;
      text-decoration: none;
      margin-bottom: 15px;
    }

    &-store {
      display: block;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  &__subtitle {
    font-family: variables.$font-family-futura;

    @include mixins.navigation-overlay-link-text;
  }

  &__contacts {
    margin-bottom: 48px;
  }

  &__input {
    &-email {
      display: flex;
      width: 100%;
      padding: 10px 0;
      background-color: transparent;
      border: none;
      border-bottom: 1.8px solid variables.$footer-email-border;
      transition: border-color 0.5s ease;

      @include mixins.footer-contact-text;

      &::placeholder {
        @include mixins.footer-contact-text;
      }

      &:hover {
        border-color: variables.$footer-email-border-hover;
      }

      &:focus {
        outline: none;
        border-color: variables.$footer-email-border-focus;
      }
    }
  }

  &__form {
    &-subscribe {
      margin-bottom: 17px;
    }
  }
}
