<header class="header-main" role="banner">
  <div class="header__content container">
<a class="header-main__link-logo" href="#">
  <img src="./assets/images/vector/logo.svg" width="257" height="28" alt="Логотип Moon River - ювелирные изделия">
</a>
    <ul class="header-main__list-actions">
      <li class="header-main__item-action">
        <button class="header-main__button-action">
          <svg width="23" height="20">
            <use href="./assets/images/vector/header-favorite-icon.svg#header-favorite"/>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
