<header class="header-main" role="banner">
  <div class="header-main__content container">
    <div class="header-main__wrapper-header container">
      <a class="header-main__link-logo" href="#">
        <img
          [src]="
            isNavOpen()
              ? '../../../assets/images/vector/logo-light.svg'
              : '../../../assets/images/vector/logo-dark.svg'
          "
          width="258"
          height="53"
          alt="Логотип Moon River - ювелирные изделия"
        />
      </a>

      <div class="header-main__wrapper-actions">
        <ul class="header-main__list-actions">
          <li class="header-main__item-action">
            <button class="button header-main__button-action">
              <svg width="23" height="20">
                <use
                  href="./assets/images/vector/header-favorite-icon.svg#header-favorite"
                />
              </svg>
            </button>
          </li>
          <li class="header-main__item-action">
            <button class="button header-main__button-action">
              <svg width="15" height="22">
                <use
                  href="./assets/images/vector/header-account-icon.svg#header-main-account"
                />
              </svg>
            </button>
          </li>
          <li
            matBadge="1"
            matBadgePosition="after"
            class="header-main__item-action"
          >
            <button class="button header-main__button-action">
              <svg width="17" height="22">
                <use
                  href="./assets/images/vector/header-cart-icon.svg#header-main-cart"
                />
              </svg>
            </button>
          </li>
        </ul>
        <button
          appToggle
          (toggled)="toggleNav()"
          class="button header-main__button-burger"
          [class.nav-open]="isNavOpen()"
          aria-haspopup="true"
          aria-controls="header-main-navigation-overlay"
          [attr.aria-expanded]="isNavOpen()"
        >
          <span
            [class]="
              (isNavOpen() ? 'header-main__line--top nav-open' : '') +
              ' header-main__line'
            "
          ></span>
          <span
            [class]="
              (isNavOpen() ? 'header-main__line--middle nav-open' : '') +
              ' header-main__line'
            "
          ></span>
          <span
            [class]="
              (isNavOpen() ? 'header-main__line--bottom nav-open' : '') +
              ' header-main__line'
            "
          ></span>
        </button>
      </div>
    </div>

    <div
      id="header-main-navigation-overlay"
      class="header-main__navigation-overlay navigation-overlay"
      [class.open]="isNavOpen()"
      [attr.aria-hidden]="!isNavOpen()"
    >
      <div class="header-main__wrapper-nav">
        <nav class="header-main__nav container">
          <ul class="header-main__list-nav">
            <li class="header-main__item-nav-link">
              <a
                appSelectCategory
                [category]="ProductCategory.JEWELERY"
                (categorySelected)="selectCategory($event)"
                class="header-main__link header-main__link-nav"
                [class.header-main-active]="
                  activeCategory() === ProductCategory.JEWELERY
                "
                href="#"
              >ювелирные изделия</a
              >
            </li>
            <li class="header-main__item-nav-link">
              <a
                appSelectCategory
                [category]="ProductCategory.CLOCK"
                (categorySelected)="selectCategory($event)"
                class="header-main__link header-main__link-nav"
                [class.header-main-active]="
                  activeCategory() === ProductCategory.CLOCK
                "
                href="#"
              >часы</a
              >
            </li>
            <li class="header-main__item-nav-link">
              <a
                appSelectCategory
                [category]="ProductCategory.AROMAS"
                (categorySelected)="selectCategory($event)"
                class="header-main__link header-main__link-nav"
                [class.header-main-active]="
                  activeCategory() === ProductCategory.AROMAS
                "
                href="#"
              >ароматы</a
              >
            </li>
            <li class="header-main__item-nav-link">
              <a
                appSelectCategory
                [category]="ProductCategory.BRANDS"
                (categorySelected)="selectCategory($event)"
                class="header-main__link header-main__link-nav"
                [class.header-main-active]="
                  activeCategory() === ProductCategory.BRANDS
                "
                href="#"
              >бренды</a
              >
            </li>
            <li class="header-main__item-nav-link">
              <a
                appSelectCategory
                [category]="ProductCategory.LEATHER_GOODS"
                (categorySelected)="selectCategory($event)"
                class="header-main__link header-main__link-nav"
                [class.header-main-active]="
                  activeCategory() === ProductCategory.LEATHER_GOODS
                "
                href="#"
              >изделия из кожи</a
              >
            </li>
            <li class="header-main__item-nav-link">
              <a
                appSelectCategory
                [category]="ProductCategory.WEDDING_DECORATIONS"
                (categorySelected)="selectCategory($event)"
                class="header-main__link header-main__link-nav"
                [class.header-main-active]="
                  activeCategory() === ProductCategory.WEDDING_DECORATIONS
                "
                href="#"
              >cвадебные украшения</a
              >
            </li>
            <li class="header-main__item-nav-link">
              <a
                appSelectCategory
                [category]="ProductCategory.OTHER"
                (categorySelected)="selectCategory($event)"
                class="header-main__link header-main__link-nav"
                [class.header-main-active]="
                  activeCategory() === ProductCategory.OTHER
                "
                href="#"
              >другое</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-main__navigation-overlay-content container">
        <ul class="header-main__list-categories">
          <li class="header-main__item-category">
            <h2 class="header-main__title-category">для кого</h2>
            <ul class="header-main__list-category">
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Для женщин</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Для мужчин</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Для детей</a
                >
              </li>
            </ul>
          </li>

          <li class="header-main__item-category">
            <h2 class="header-main__title-category">категории</h2>
            <ul class="header-main__list-category">
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Кольца</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Браслеты</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Колье</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Серьги</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Броши</a
                >
              </li>
            </ul>
          </li>

          <li class="header-main__item-category">
            <h2 class="header-main__title-category">материал</h2>
            <ul class="header-main__list-category">
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Изделия с бриллиантами</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Желтое золото</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Белое золото</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Розовое золото</a
                >
              </li>
            </ul>
          </li>

          <li class="header-main__item-category">
            <h2 class="header-main__title-category">бренд</h2>
            <ul class="header-main__list-category">
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Mercury</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Chopard</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Cartier</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Graff</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a class="header-main__link header-main__link-category" href="#"
                >Garrard</a
                >
              </li>
              <li class="header-main__item-category-link">
                <a
                  class="header-main__link header-main__link-category header-main__link--all-brands"
                  href="#"
                >
                  Показать все бренды</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <footer class="header-main__navigation-overlay-footer container">
        <section class="header-main__wrapper-column-left">
          <div class="header-main__subtitle">Новая коллекция by Mercury</div>
          <h2 class="header-main__title-footer">Juste un Clou</h2>
          <a class="header-main__link header-main__link-mercury-collection" href="#">Cмотреть коллекцию</a>
        </section>
        <div class="header-main__wrapper-column-right">
          <div class="header-main__contacts">
            <p>Телефон горячей линии</p>
            <a class="header-main__link-phone" href="tel:+7800456456">+7 800 456 456</a>
            <ul class="header-main__list-social">
              <li class="header-main__social-link">
                <a class="header-main__link-social" href="#" aria-label="FaceBook">
                  <svg width="35" height="35">
                    <use href="./assets/images/vector/navigation-overlay-facebook.svg#navigation-overlay-facebook"/>
                  </svg>
                </a>
              </li>
              <li class="header-main__social-link">
                <a class="header-main__link-social" href="#" aria-label="Instagram">
                  <svg width="35" height="35">
                    <use href="./assets/images/vector/navigation-overlay-Instagram.svg#navigation-overlay-instagram"/>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <form class="header-main__subscribe">
            <p>Подпишитесь на новости</p>
          </form>
        </div>
      </footer>
    </div>
  </div>
</header>
