<section class="social">
  <div class="social__content container">
    <h2 class="social__title-main">
      <span>Мы</span>
      <span>в социальных сетях</span>
    </h2>
    <app-swiper/>
    <div class="social__actions">
      <ul class="list-social">
        <li >
          <a class="link-social" href="#" aria-label="FaceBook">
            <svg width="35" height="35">
              <use href="./assets/images/vector/navigation-overlay-facebook.svg#navigation-overlay-facebook"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="link-social" href="#" aria-label="Instagram">
            <svg width="35" height="35">
              <use href="./assets/images/vector/navigation-overlay-Instagram.svg#navigation-overlay-instagram"/>
            </svg>
          </a>
        </li>
      </ul>
      <div class="social__wrapper-swiper-controllers">
        <div class="swiper-button-prev swiper-button" aria-label="Предыдущий слайд"></div>
        <div class="swiper-pagination" aria-label="Пагинация"></div>
        <div class="swiper-button-next swiper-button" aria-label="Следующий слайд"></div>
      </div>
    </div>
  </div>
</section>
