@use "./styles/fonts";
@use "./styles/variables" as variables;

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  //max-width: 1145px; //TODO delete later
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.mat-badge-content {
  left: 150% !important;
}

.button {
  cursor: pointer;
  color: variables.$button-main;

  &:hover {
    color: variables.$button-hover;
  }

  &:active {
    color: variables.$button-action;
  }

  &:focus {
    outline: none;
  }
}

.light-theme {
  @media (width <= 1023px) {
    color: variables.$button-contrast-on-white;
  }
}

.open {
  display: block !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
