@use "../../../styles/variables" as variables;

.hero {
  //height: 95vh;
  padding-top: 153px;
  padding-bottom: 60px;
  background: linear-gradient(
      90deg,
      variables.$hero-gradient-start 60%,
      variables.$hero-gradient-end 60%
  );
  scroll-snap-align: start;
  transition: background-color 1s ease;

  @media (width <= 1023px) {
    background: linear-gradient(
        116deg,
        rgb(255 255 255) 60%,
        rgb(39 39 39) 40%
    );
  }

  @media(width <= 599px) {
    padding-top: 184px;
  }

  &.dark-theme {
    background: variables.$hero-background;
  }

  &__content {
    display: flex;
    gap: 94px;
    padding-top: 314px;

    @media(width <= 1023px) {
      flex-direction: column;
    }
  }

  &__wrapper {
    &-column {
      &-left {
        max-width: 475px;
        width: 100%;
        display: flex;
        flex-direction: column;

        @media(width <= 1023px) {
          order: 1;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;

        @media(width <= 1023px) {
          order: 0;
        }

        @media(width <= 556px) {
          display: none;
        }
      }
    }

    &-image {
      max-width: 322px;
      width: 100%;
      margin-bottom: 281px;

      img {
        width: 100%;
        height: auto;
      }

      @media(width <= 1023px) {
        align-self: center;
        margin-bottom: 100px;
      }
    }

    &-product {
      &-info {
        display: flex;
        flex-direction: column;
        gap: 9px;
        align-self: flex-end;
      }
    }
  }

  &__title {
    &-main {
      color: white;
      font-family: variables.$font-family-forum;
      font-style: normal;
      font-size: 64px;
      font-weight: 400;
      line-height: 71px;
      letter-spacing: 0.03em;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 50px;
      mix-blend-mode: difference;
    }

    &-product {
      color: variables.$title-light;
      font-family: variables.$font-family-futura;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    &-product {
      color: variables.$subtitle;
      font-family: variables.$font-family-futura;
      font-style: normal;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0;
    }
  }

  &__data {
    &-price {
      color: variables.$data-text;
      font-family: "Segoe UI", sans-serif;
      font-style: italic;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.03em;
    }
  }

  &__link {
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.5s ease;

    &:hover {
      color: variables.$link-color-hover-on-light;
      mix-blend-mode: normal;

      &::before {
        background-color: variables.$link-color-hover-on-light;
      }
    }

    &:active {
      color: variables.$link-color-active-on-light;

      &::before {
        background-color: variables.$link-color-active-on-light;
      }
    }

    &-collections {
      display: flex;
      gap: 38px;
      align-items: center;
      align-self: flex-end;
      color: white; /*variables.$hero-link-text;*/
      font-family: "Segoe UI", sans-serif;
      font-style: italic;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 359px;
      mix-blend-mode: difference;

      &::before {
        content: "";
        display: block;
        width: 130px;
        height: 1px;
        background-color: white /*variables.$hero-link-before-bg*/
      ;
        transition: background-color 0.5s ease;
      }

      @media(width <= 1023px) {
        margin-bottom: 100px;
      }

      @media (width <= 556px) {
        margin-bottom: 359px;
      }
    }

    &-product {
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    &-languages {
      display: flex;

      @media (width <= 436px) {
        justify-content: flex-end;
      }
    }
  }

  &__button {
    &-language {
      background-color: transparent;
      color: variables.$hero-button-text;
      border: none;
      font-family: variables.$font-family-futura;
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.05em;
      text-align: left;
      text-transform: uppercase;
      cursor: pointer;
      transition: color 0.5s ease;

      &:hover {
        color: variables.$language-button-hover;
      }

      &:active {
        color: variables.$language-button-active;
      }

    }
  }

  &__active {
    color: variables.$hero-button-text-active;
    pointer-events: none;

    @media (width <= 436px) {
      color: variables.$language-button;


    }
  }
}
